@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.brightness{
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

body{
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding-bottom: 10px;
    
}
/* banner  */
.banner{
    background-color: white;
    margin-bottom: 20px;
    }
.banner img {
    height: 45px;
    border-right: 1px solid #e5e5e5;
    padding-right: 15px;
}
/* menu  */
nav li{
    display: inline;
    padding-right: 5px;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    color: #939393; 
}
nav a:hover{
    text-decoration-line: underline
}
/* main photo  */
.main_photo {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    margin: 30px 0;
    border-radius: 15px 15px;
    position: relative;
}
.main_text{
    position: absolute;
    bottom: 20%;
    margin-left: 40px;
    width: 50%;
    color: white;

}
/* float images/texts  */
.b_head_main{
    height: 60px;
    background-color: #abcfe7;
}
.b_main{
    height: 400px;
    background-color: #0086ff;
    padding: 10px 0;
}

.b_main div {
    float: left;
    background-color:#abcfe7 ;
    height: 100%;

}
.b_left,.b_right{
    width: 20%;
    
    
}
.b_centre{
    width: 57%;
    margin: 0 1.5%;
    
}



.b_main::after{
    content: "";
    clear: both;
    display: table;

}
.foot{
    background-color: #8801fe;
    height: 40px;
    margin-top: 5px;
}