@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.brightness{
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

body{
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding-bottom: 10px;
    
}
/* banner  */
.banner{
    background-color: white;
    margin-bottom: 20px;
    }
.banner img {
    height: 45px;
    border-right: 1px solid #e5e5e5;
    padding-right: 15px;
}
/* menu  */
nav li{
    display: inline;
    padding-right: 5px;
}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
    color: #939393; 
}
nav a:hover{
    text-decoration-line: underline
}
/* main photo  */
.main_photo {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    margin: 25px 0;
    border-radius: 15px 15px;
    position: relative;
}
.overlay::before{
    content: "";
    position: absolute; 
    border-radius: 15px 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background: rgba(0, 0, 0, 0.2)
}
.main_text{
    position: absolute;
    bottom: 15%;
    margin-left: 40px;
    width: 50%;
    color: white;
    font-weight: 400;
    font-size: 20px;

}
.main_text p:nth-child(2) {
    font-size: 10px;
}
/* body title  */
.title_body{
    margin-bottom: 20px;
}

.title_body h1{
    font-size: 25px; 
    font-weight:700;
    color: black;
    line-height: 20px;
    }
.title_body span{
    font-size: 10px;
    font-weight: 400;
    color: #939393; 
    
}
/* float images/texts */
.preview_size{
    height: 150px;
    width: 100%;
    border-radius: 15px 15px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.preview_l{
    background-image: url("../img/img-1.jpg");
}
.preview_c{
    background-image: url("../img/banner-2.jpg");
}
.preview_r{
    background-image: url("../img/img-2.jpg");
}
.body_text{
    padding: 10px 0;
}

.body_text>div {
    float: left;
    height: 100%;
    

}
.body_left,.body_right{
    width: 20%;
    
    
}
.body_centre{
    width: 57%;
    margin: 0 1.5%;
    
}
/* image text descriptions  */
 .body_text h3{
     font-weight: 600; 
     margin: 10px 0 5px 0;
     font-size: 10px;
     color: #6f6f6f;
 }
 .body_text p{
     font-size: 10px;
     color: #939393;
 }



.body_text::after{
    content: "";
    clear: both;
    display: table;

}
.foot{
    text-align:center;
    font-size: 8px;
    margin-top: 5px;

}